/* Write your CSS code here */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.unordered-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.home-list {
  padding-right: 50px;
}
